body {
  font-family: Arial;
  
  border: 0px solid transparent;
  padding: 15px;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  position: sticky;
  top: 0px;
  background-color: #387cca;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


nav {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 15px;
  padding: 8px 15px;
  border-radius: 8px;
  transition: background 0.3s, transform 0.2s;
}


nav a:hover {
  background: #f1c40f;
  color: #2c3e50;
  transform: scale(1.1);
}


nav a.active {
  background: #f1c40f;
  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
}


nav a {
  opacity: 0;
  animation: fadeIn 0.8s forwards;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: beige;
}


.column.side {
  flex: 25%;               
  padding: 15px;
  color: rgb(14, 14, 14); 
}


.column.middle {
  flex: 50%;               
  padding: 15px;
  color: rgb(14, 13, 13);
}


@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    flex: 100%;            
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.hero {
  padding: 60px 20px;
  background: url("../imagenes/habitat.jpg") center;
  color: white;
  text-shadow: 1px 1px 4px black;
  animation: fadeIn 2s ease;
}
.hero h2 { font-size: 2em; }
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #ffbb33;
  color: #222;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 0.3s 
}
.btn:hover {
  transform: scale(1.05);
  background: #ff9900;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 250px;
  transition: transform 0.3s;
}
.card:hover { transform: translateY(-5px); }
.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card h3 { margin: 10px 0; }

.leonC {
  width: 80px ;
  height: 80px;
}
.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 16rem;
  animation: animate 10s linear infinite;
}

@keyframes animate{
  to{
    translate: calc(-4 *16rem);
  }
}
input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid green;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}

input:placeholder-shown {
  border:solid 2px rgb(177, 20, 20);
}


.footer {
  background: #ffbb33;
  padding: 15px;
  margin-top: 20px;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
